/* font-family: 'The Nautigal', cursive;*/
 
*{
    box-sizing: border-box; 
   
}
body{
    background-color: rgb(14, 20, 20);
}
nav{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    font-family:'The Nautigal', cursive ;
    background-color: #f5f906;
} 
ol{
    list-style-type: none;
}
li{
    float: left;
}
nav a{
    padding: 10px 10px;
}
nav a:hover{
     text-shadow: 2px 3px 5px rgb(253, 10, 10); 
    box-shadow:20px -30px 50px rgb(4, 20, 248) ;
 
}
footer{
    
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-family: 'The Nautigal', cursive;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 20px;
    color: rgb(8, 1, 1);
    background: linear-gradient(to right,rgb(254, 100, 18),white,green);
}
.heading{
     font-family: 'The Nautigal', cursive;
     font-size:50px ;
     border: 10px;
     width: 100%;
     text-align: center;
     background: linear-gradient( to right, rgb(179, 60, 14),white,green)
}

.caption{
    text-transform: capitalize;
    text-align: center;
    color: rgb(15, 136, 243);
}
.gallery{
    margin: 5px;
    padding: 50px;
    float: left;
    border: 5px;
    
    


}
.gallery img{
    border:2px solid white ;
    padding: 10px;
    
}
.gallery img:hover{
    border: 2px solid blue;
}